ilu
CLAUDE_UI_UX_SPEC.md
hackathon.md
Lafaek-AI-Farmer.md
CLAUDE_LOCAL_FIRST_AI_SPEC.md
docs/CHANGELOG.md
Final_Submission_Guide.docx.pdf
challenge_file.pdf
Lafaek_AI_Farm_Claude_Code_Execution_Plan_UPDATED.docx
lightshail_setup/
assets/illustrations
Lafaek AI Farm/mobile-app/tools/cv/data
Lafaek AI Farm/mobile-app/tools/cv/.venv
Lafaek AI Farm/mobile-app/tools/cv/data_unused

docs/diagrams/__pycache__

